body {
    background-color: pink;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

.row {
    text-align: center;
}

h1 {
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    color: lightgoldenrodyellow;
    font-size: 50pt;
}
.card {
    width: 250;
    background-color: lightgoldenrodyellow;
    padding: 1rem;
    margin: 1rem;
    text-align: left;
}
h6 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 25pt;
}

#target-number {
    font-size: 20pt;
    font-family: Arial, Helvetica, sans-serif;
}

#rules {
    width: 30%;
    text-align: left
}

