body {
    background-color: pink;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

.row {
    text-align: center;
}

h1 {
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    color: rgba(196, 96, 162, 0.988);
    font-size: 70pt;
    text-shadow: 5px 5px 5px rgb(60, 58, 58);
}
.card {
    width: 250;
    background-color: lightgoldenrodyellow;
    padding: 1rem;
    margin: 1rem;
    text-align: left;
    box-shadow: 7px 8px 5px rgb(60, 58, 58);
}
h6 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 25pt;
}

#target-number {
    font-size: 20pt;
    font-family: Arial, Helvetica, sans-serif;
}

#rules {
    width: 30%;
    text-align: left;
    box-shadow: 7px 8px 5px rgb(60, 58, 58);
}
.container {
    display: inline-block;
    margin: 40px;
}
img {
   text-shadow: 5px 5px 5px rgb(60, 58, 58);
   width: 150px;
}